*, html, body {
	margin:0;
	padding:0;
}
body {
	background-color:whitesmoke;
}
header {
	height: 112px;
	line-height: 112px;
	position: fixed;
	z-index: 1;	
	width: 100%;
}

.secondary {
	background-color: brown;
	box-shadow: 0px 0px 17px 0px;
	transition: all 0.5s ease-in;
}
nav {
	display: flex;
	padding:0;
	margin:0;
	justify-content: space-between;
	
}

nav ul {
	list-style: none;
	width: 40%;
	display: flex;
	justify-content: space-around;
}
nav ul li a {
	color: #b19cd9;
	transition: all 0.7s ease-in;
	text-transform: uppercase;

	font-weight: bold;
}

nav ul li a:hover {
	text-decoration: none;
	color: red;
}
nav img {
	height: 30px;
	width: 70px;
}

.logo{
	padding-top: 40px;
}

.slider, .slider ul, .slider ul li {
	height: 650px;
	width: 100%;
	color: white;
	text-align: left;
}
.slider ul {
	display: flex;
	list-style: none;
}

.slider h2 {
	font-weight: bold;
	margin-top: 30px;
}

.slider span {
	color: orange;
}

.slider a {
	padding: 10px 40px;
}

.slider a.btn-half {
	background-color: deepskyblue;
	color: white;
	margin-right: 10px;

	transition: 0.5s ease-in;
}
.slider a.btn-half:hover {
	background-color: skyblue;
}

.slider a.btn-full {
	background-color: orange;
	color: white;
	transition: 0.5s ease-in;
}

.slider a.btn-full:hover {
	opacity: 0.7;
}


.slider i {
	font-size: 35px;
	margin-right: 10px;
}

.nav_content {
	padding:150px;
}

.nav_content h3 {
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 5px;
	color: orange;
}

.nav_content h1 {
	font-size: 100px;
	font-weight: 700;
	margin-top: 30px;
	color: grey;

}
.img {
	background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/image1.jpeg);
	background-size: 100% 100%;
}

.img2 {
	background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/image2.jpeg);
	background-size: 100% 100%;
}

.img3 {
	background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/image3.jpeg);
	background-size: 100% 100%;
}


.hero {
	width: 100%;
	height: 700px;
	padding:30px;
	margin-top:5px;
	background:lightgrey;
	position: relative;
	overflow:hidden;
	
}

.btn-box {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-box button {
	background: transparent;
	border:none;
	outline: none;
	cursor: pointer;
	padding: 25px;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 20px;
	font-weight: bold;

	border: 1px solid grey;
}

.btn-box .fa {
	margin-right: 20px;
}

.btn-box button:hover {
	color: white;
	background:brown;
}

.content {
	display: flex;
	width: 76%;
	left: 13%;
	right: 12%;
	position: absolute;
	transform: translateX(1000%);
}

#content1 {
	transform: translateX(0px);
}

#btn1 {
	color: brown
}

.about {
	display: flex;
}

.about-img {
	flex:1;	
	padding-top:100px;
}

.about-img img {
	width: 100%;
	border-radius: 15px;
}
.about-content {
	flex:1;
	padding:30px;
}

.about-content h5 {
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 2px;
	color: brown;

	margin-bottom: 15px;
}

.about-content h3 {
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
}

.about-content p {
	font-size: 20px;
	line-height: 40px;
}

.skill {
	display: flex;
	width: 100%;
	flex-direction: column;
	padding:20px;
	padding-right: 40px;
}
.text {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.text p {
	margin-right: 30px;
}

.bar {
	height: 5px;
	width: 100%;
	background-color: white;

}

.bar-perc {
	height: 5px;
	width:80%;
	background-color: black;
}



.tabs {
	position: relative;
	height: 300px;
}
.tab-buttons button{
	width: 100px;
	padding-left:30px;
	padding-right:30px;
	padding-top: 5px;
	padding-bottom: 5px;

	/* background-image: linear-gradient(145deg, #faa61f 0%, #faa61f 0%, #ed1847 100%); */
	
}

.tab-buttons:hover {
	text-decoration: none;
	color: #b19cd9;
	background:transparent;
}

.section_title {} .section_subtitle {
	margin-bottom: 7px;
	padding-left: 7px;
	font-size: 16px;
	line-height: 1;
	text-transform: uppercase;
	color: #aaaaaa;
	border-left: 3px solid #bfa67a;
	font-weight: 700;
	font-family:tahome;
}

.section_main_title {
	margin-top: 0;
	margin-bottom: 37px;
	font-size: 30px;
	line-height: 1.27;
	font-weight: 300;
}

.section_main_title strong {
	font-weight: 600;
}


.about-section {
	display: flex;
}

#about {
	position: absolute;
	transform: translateX(0);
	transition: 0.5s ease-in-out;
}
.about-text {
	flex:2;
}

.video {
	flex: 1;
	margin-left: 100px;
	margin-top: 50px;
}

.about-box {
	-webkit-box-shadow: 0 0 0 10px #000000 inset;
	box-shadow: 0 0 0 10px #000000 inset;
	margin-right: 0;
	margin-top: 0;
	position: relative;
	display: block;

	height: 80%;
}


.box-overlay {
	
	height: 100%;
}

.about-box .videopopup img {
	transform: translateY(30px) translateX(-20px);
	-webkit-transform: translateY(30px) translateX(-30px);
	width: 100%;
	height: 100%;
	z-index: 1;
}

.about-box .videopopup {
	position: relative;
}

.sonar-wrapper {
	position: absolute;
	z-index: 9;
	top: 50%;
	left: 50%;
	margin-left: -40px;
	margin-top: 20px;
}

.sonar-emmiter {
	position: relative;
	margin:0px auto;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #bfa67a;
	text-align: center;
}

.sonar-emmiter i {
	z-index: 10;
	font-size: 20px;
	color: white;
	margin-left: 4px;
	line-height: 32px;
}

.sonar-wave {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-radius: 9999px;
	background-color: #bfa67a;
	opacity: 0;
	z-index: -1;
	pointer-events: none; 
}

.sonar-wave {
	animation: sonarWave 2s linear infinite;
}

@keyframes sonarWave{
	from {
		opacity: 0.4;
	}
	to {
		transform: scale(3);
		opacity: 0
	}
}


.btn-color-background {
	-moz-user-select:none;
	background-image: linear-gradient(145deg, #faa61f 0%, #faa61f 0%, #ed1847 100%);
	border: 1px solid #bfa67a;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	line-height: 1.4287;
	margin-bottom: 0;
	padding: 7px 38px;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.5s ease 0s;
	vertical-align: middle;
}

.btn-color-background:hover {
	text-decoration: none;
	color: #b19cd9;
	background:transparent;
}







.skill-area {
	display: flex;
	margin-top: 70px;
}

#team {
	position: absolute;
	top: 0;
	transform: translateX(100%);
	transition: 0.5s ease-in-out;
}
.skills-desc {
	flex:1;
	width: 100%;
}

.skills-area	 {
	flex:1;
	width: 100%;
	padding-left:40px;
}



#skills {
	margin-top: 20px;	
}

.skillbar {
	position: relative;
	display: block;
	margin: 0 auto 20px;
	width: 100%;
	height: 40px;
	transition: 0.4s linear;
	transition-property: width, background-color;
}

.skillbar-title {
	font-size: 12px;
	color:#555;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.skillbar-bar {
	height: 3px;
	width: 80%;
	background:#000;
	border-radius: 3px;
	float: left;
}

.skill_area p {
	text-align: justify;
	width: 90%;
}




























.service i {
	font-size: 35px;
	color: brown;
	padding:20px;
}

.services div {
	padding:15px;
	padding-left: 20px;
}

iframe {
	padding-top: 10px;
	width: 100%;
	height: 300px
}

.services p {
	padding-bottom: 20px;
}

.sub-heading {
	position: relative;
	margin-bottom: 0px;
	padding-bottom:30px;
}

.title h2 {
	font-size: 50px;
}
.sub-heading:before {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -3%;
	width: 6%;
	height: 1px;
	background-color: #e13839;
	z-index: 1;
	-webkit-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

.sub-heading:hover:before {
	width: 24%;
	margin-left: -12%;
	
}

.sub-heading:after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -12%;
	width: 24%;
	height: 1px;
	background-color: #e1e1e1;
}

.sub-heading p {
	color: #818181;
	display: inline-block;
	padding:0px 0px 20px;
	position: relative;
	line-height: 24px;

}

.services {
	position: relative;
}

.services h3 {
	position: absolute;
	font-size: 25px;
	font-weight: bold;
	color: whitesmoke;
	z-index: 1;

}
.services .col-lg-3 {
	margin-top: 10px;
	margin-bottom: 10px;
	padding:5px;
}

.service-img {
	display: flex;
	align-items: center;
	justify-content: center;
}
.service-img img {
	width: 100%;
	cursor: pointer;
}

.service-img img:hover {
	opacity: 0.9;
}

..service-img img:hover, h3 {
	color: black
}
.testimonals {
	margin: 50px auto;
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/audience.jpg);
}

.testimonals h2 {
	text-align: center;
	font-weight: bold;
	color: #ff9800;
	padding-bottom: 10px;
	padding-top: 50px;
	text-transform: uppercase;
}	

.testimonals p {
	font-size: 18px;
	letter-spacing: 1px;
	color: white;
}
.testimonals h1:after {
	content: " ";
	background: #ff9800;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}

.testimonals .row {
	margin-top: 30px;
}

.col-md-4 {
	margin: 40px auto;
}

.profile {
	padding: 78px 20px 30px;
	background-color: #b19cd9;
	border-radius: 15px;
}

.profile img {
	top: -60px;
	position: absolute;
	left: 40%;
	border: 10px solid purple;
	width: 100px;
	height: 100px;
}

.user {
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

.profile h3 {
	font-size: 20px;
	margin-top:15px;
	color: #ff9800;
}

.testimonals span {
	font-size: 12px;
	color: #333;
}

.testimonals blockquote {
	font-size: 16px;
	line-height: 30px;
}

.testimonals blockquote:before {
	content: "\93";
	font-size: 58px;
	position: relative;
	color: #ff9800;
	line-height: 20px;
	bottom: -15px;
	left: 5px;
}

.testimonals blockquote:after {
	content: "\93";
	font-size: 58px;
	position: relative;
	color: #ff9800;
	line-height: 10px;
	bottom: -15px;
	left: 5px;
}

.profile:hover {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	background-color: green
}



.testimonial{
    background: transparent;
    text-align: center;
    padding: 30px 30px 50px;
    margin: 0 15px 100px;
    position: relative;
    margin-top: 40px;

    border: 2px solid white;
}
.testimonial:before,
.testimonial:after{
    content: "";
    border-top: 40px solid transparent;
    border-right: 125px solid transparent;
    position: absolute;
    bottom: -40px;
    left: 0;
}
.testimonial:after{
    border-right: none;
    border-left: 125px solid transparent;
    left: auto;
    right: 0;
}
.testimonial .icon{
    display: inline-block;
    font-size: 80px;
    color: #bd986b;
    margin-bottom: 20px;
    opacity: 0.6;
}
.testimonial .description{
    font-size: 18px;
    color: white;
    
    margin-bottom: 30px;
    opacity: 0.9;
    letter-spacing: -1px;
}
.testimonial .testimonial-content{
    width: 100%;
    position: absolute;
    left: 0;
}
.testimonial .pic{
    display: inline-block;
    border: 6px solid white;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px #daad86;
    overflow: hidden;
    z-index: 1;
    position: relative;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .title{
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
    margin: 0 0 5px 0;
}
.testimonial .post{
    display: block;
    font-size: 14px;
    color: #ffd9b8;
}
.owl-theme .owl-controls{
    margin-top: 60px;
}
.owl-theme .owl-controls .owl-page span{
    width: 32px;
    height: 10px;
    background: #fff;
    border: 2px solid #bd986b;
    margin: 5px;
    opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #ffd9b8;
    border-color: #fff;
}
    .pic img{
        width: 100px !important;
        height: 50px;
    }


/*
footer {
	background:black;
	margin-top: 80px;
	padding:40px;
	justify-content: center;
}
footer img {
	width: 200px;
	border-radius: 50%;
}

footer .links {
	padding:70px;
}

footer ul {
	list-style: none;
}

footer ul li {
	margin-bottom: 15px;
	color: white
}

footer p {
	padding-top: 70px;
	color: white;
	padding-bottom: 30px;
}

footer .founder {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer .logo {
	display: flex;
	align-items: center;
	justify-content: center;
}

*/


.footer-topC2 {
	background: #111;
	padding:80px 0;
}

.footer-topC2 p {
	color: #999;
	line-height: 25px;
}

.footer-topC2 h2, h3 {
	color: #fff;
}

.footer-topC2 h2 {
	font-size: 18px;
}

.segment-oneC2 h3 {
	font-family: Courgette;
	color: #fff;
	letter-spacing: 3px;
	margin:10px 0;
}

.segment-twoC2 h2 {
	color: #fff;
	font-family: Poppins;
	text-transform: uppercase;
}

.segment-twoC2 h2:before{
	content: "I";
	color: #c65039;
	padding-right: 10px;
}

.segment-twoC2 ul {
	margin:0;
	padding: 0;
	list-style: none;
}

.segment-twoC2 ul li {
	border-bottom:  1px solid rgba(255, 255, 255, 0.3)
	line-height: 40px;

}

.segment-twoC2 ul li a {
	color: #999;
	text-decoration: none;
}

.segment-threeC2 h2 {
	color: #fff;
	font-family: Poppins;
	text-transform: uppercase;
}

.segment-threeC2 h2:before {
	content: "I";
	color: #c65039;
	padding-right: 10px;
} 

.segment-threeC2 a {
	background: #494848;
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 50%;
}

.segment-threeC2 a i {
	font-size: 20px;
	color: #fff;
	padding:10px 12px;
}

.segment-fourC2 h2 {
	color: #fff;
	font-family: Poppins;
	text-transform: uppercase;
}

.segment-fourC2 h2:before {
	content: "I";
	color: #c65039;
	padding-right: 10px;
} 

.segment-fourC2 form input[type=submit] {
	background: #c65039;
	border: none;
	padding: 3px 15px;
	margin-left: -5px;
	color: #fff;
	text-transform: uppercase;
}

.segment-fourC2 form input[type=email] {
	width: 120px
}

.footer-bottomC2 {
	text-align: center;
	background: #000;
	line-height: 75px;
}


@media only screen and (max-width: 768px){
	.sm-mb-30C2 {
		margin-bottom: 30px;
	}
	.footer-topC2 {
		padding:50px 0;
	}

	.about-section {
		flex-direction: column;
	}

	.about-text{
		order: 2
	}
	.video {
		order: 1;
		padding-bottom: 80px;
		margin-left: 25px;
	}

	.skill-area {
		flex-direction: column;
	}
	.skills-area {
		padding-left: 5px;
	}


}